<link rel="stylesheet" type="text/css" href="/node_modules/angular5-toaster/toaster.css" />
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    .input-container {
      display: -ms-flexbox;
      /* IE10 */
      display: flex;
      width: 90%;
      margin-bottom: 15px;
    }

    .icon {
      padding: 10px;
      background: rgb(70, 68, 68);
      color: white;
      min-width: 50px;
      text-align: center;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid rgb(70, 68, 68);
    }

    /* Set a style for the submit button */

    .btn-company {
      background-image: url("/assets/img/cmpReg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      top:50%;
      width: 600px;
      height:500px;
      margin-top:5%;
      margin-left:6%;
    }

    .btn-employee {
      background-image: url("/assets/img/empReg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      top:50%;
      width: 600px;
      height:500px;
      margin-top:5%;
      margin-left:5%;
    }
    .submit {
  background-color: black;;
  color: white;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;

}

    button {
      margin-top: 25px;
      width: 30px;
      height:60px;
      font-size: 19px;

    }

    .btn:hover {
      opacity: 1;
    }

    .container {
      background: transparent;
      padding: 30px;
      width: 630px;
      height: 900px;
      color: black;
      top: 40%;
      left: 60%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: -1px 1px 60px 10px black;
      margin-top: 75px;
    }

    body {
      background-image: url("assets/img/signup.jpg");
      background-size: 100% 100%;
      width: 100%;
      background-attachment: fixed;
      font-family: new time 'Times New Roman', Times, serif;

    }
  </style>
</head>

<body id="show_bg_2" style="text-align:center;">
  <br><br>
  <h1 style = "color:black"><b>Register as</b></h1>
  <button type="button" class="btn btn-success btn-sm btn-company box1" data-toggle="modal" data-target="#modal1">
    <h3 class="title">Company</h3>
  </button>

  <button type="button" class="btn btn-success btn-sm btn-employee box1" data-toggle="modal" data-target="#modal2">
    <h3 class="title">Employee</h3>
  </button>

  <div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style =  "background-image:
           linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(197,198,193,0.8281513288909313) 67%, rgba(234,238,214,0.8477591720281863) 100%);">
        <div class="modal-header">
          <h1 style="margin-left:30%; color:black; font-size: 32px"><b>Register Form</b></h1>
          <button style="margin-right:3%;font-size:25px;"type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>x</b></button>

        </div>
        <div class="modal-body">
          <form action="/action_page.php" style="max-width:500px;margin:auto" #companyForm="ngForm"
            (ngSubmit)="registerCompany(companyForm.value)">
            <br>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="Company name" ngModel #compName="ngModel"
                name="compName" minlength=1 [(ngModel)]='company.compName' required>
              <div *ngIf="compName.touched && compName.errors?.required" class="alert alert-danger">please enter company
                name
              </div>
              <div *ngIf="compName.touched && compName.errors?.minlength" class="alert alert-danger">please enter
                atleast 1
                character </div>

            </div>

            <form [formGroup]="userEmails">

              <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" placeholder="HR Mail ID"
                  class="form-control" formControlName="primaryEmail" [(ngModel)]='company.hrMail' />

                <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                  <small *ngIf="primEmail.errors?.required" class="alert alert-danger">Primary email is required</small>
                  <!--question mark(?) is a safe navigation operator-->
                  <small *ngIf="primEmail.errors?.pattern" class="alert alert-danger">Please provide a valid email
                    address</small>
                </div>

              </div>
            </form>

            <div class="input-container">
              <i class="fa fa-laptop icon"></i>
              <input class="input-field" type="text" placeholder="website" ngModel #website="ngModel" name="website"
                minlength=6 [(ngModel)]='company.website' required>
              <div *ngIf="website.touched && website.errors?.required" class="alert alert-danger">please enter website
              </div>
              <div *ngIf="website.touched && website.errors?.minlength" class="alert alert-danger">please enter 6
                characters
                atleast </div>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" ngModel name="hrPassword" minlength=6
                [(ngModel)]='hrPassword' required>
              <div *ngIf="hrPassword.touched && hrPassword.errors?.required" class="alert alert-danger">please enter
                password
              </div>
              <div *ngIf="hrPassword.touched && hrPassword.errors?.minlength" class="alert alert-danger">please enter 6
                characters </div>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Confirm Password" ngModel name="confirmPassword"
                minlength=6 [(ngModel)]='cmpconfirmPassword' required>
              <div *ngIf="cmpconfirmPassword.touched && cmpconfirmPassword.errors?.required" class="alert alert-danger">please
                enter
                confirm password </div>
              <div *ngIf="cmpconfirmPassword.touched && cmpconfirmPassword.errors?.minlength" class="alert alert-danger">
                please enter 6
                characters </div>
            </div>
            <div class="input-container">
              <i class="fa fa-phone icon"></i>
              <input class="input-field" type="text" placeholder="Mobile" ngModel #mobile="ngModel" name="mobile"
                [(ngModel)]='company.mobile' minlength=10 maxlength=10 required>
              <div *ngIf="mobile.touched && mobile.errors?.required" class="alert alert-danger">please enter mobile
                number
              </div>
              <div *ngIf="mobile.touched && mobile.errors?.minlength" class="alert alert-danger">Please enter atleast 10
                digits
              </div>
              <div *ngIf="mobile.touched && mobile.errors?.maxlength" class="alert alert-danger">Can't exceed 10 digits
              </div>
            </div>
            <div class="input-container">
              <i class="fa fa-map-signs icon"></i>
              <input class="input-field" type="text" placeholder="Street" ngModel #street="ngModel" name="street"
                [(ngModel)]='company.address.street' required>
              <div *ngIf="street.touched && street.errors?.required" class="alert alert-danger">please enter state
              </div>
            </div>
            <div class="input-container">
              <i class="fa fa-map-marker icon"></i>
              <input class="input-field" type="text" placeholder="Area" ngModel #area="ngModel" name="area"
                [(ngModel)]='company.address.area' required>
              <div *ngIf="area.touched && area.errors?.required" class="alert alert-danger">please enter state
              </div>
            </div>
            <div class="input-container">
              <i class="fa fa-map-pin icon"></i>
              <input class="input-field" type="text" placeholder="City" ngModel #city="ngModel" name="city"
                [(ngModel)]='company.address.city' required>
              <div *ngIf="city.touched && city.errors?.required" class="alert alert-danger">please enter city
              </div>
            </div>
            <div class="input-container">
              <i class="fa fa-map icon"></i>
              <input class="input-field" type="text" placeholder="State" ngModel #state="ngModel" name="state"
                [(ngModel)]='company.address.state' required>
              <div *ngIf="state.touched && state.errors?.required" class="alert alert-danger">please enter state
              </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="submit" style="color:white" (click)="registerCompany(companyForm.value)"
              data-dismiss="modal" [disabled]="!companyForm.valid">Register</button>


          </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>



  <div class="modal hide" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content" style =  "background-image:
           linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(197,198,193,0.8281513288909313) 67%, rgba(234,238,214,0.8477591720281863) 100%);">
        <div class="modal-header">
          <h1 style="margin-left:30%; color:black; font-size: 32px"><b>Register Form</b></h1>
          <button style="margin-right:3%;font-size:25px;"type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>×</b></button>
        </div>
        <div class="modal-body">
          <form action="/action_page.php" style="max-width:500px;margin:auto" #employeeForm="ngForm">
            <br>
            <div class="input-container">
              <i class="fa fa-drivers-license icon"></i>
              <input class="input-field" type="text" placeholder="Employee ID" name="empId" #empId="ngModel"
                [(ngModel)]='employee.empId' required>
              <div *ngIf="empId.touched && empId.errors?.required" class="alert alert-danger">please enter empId</div>
            </div>
            <div class="input-container">
              <i class="fa fa-user icon"></i>
              <input class="input-field" type="text" placeholder="Employee Name" name="empName" #empName="ngModel"
                [(ngModel)]='employee.empName' required>
              <div *ngIf="empName.touched && empName.errors?.required" class="alert alert-danger">please enter empName
              </div>
            </div>

            <div class="input-container">
              <i class="fa fa-qrcode icon"></i>
              <input class="input-field" type="text" placeholder="Company code" name="companyCode"
                #companyCode="ngModel" [(ngModel)]='employee.companyCode' required>
              <div *ngIf="companyCode.touched && companyCode.errors?.required" class="alert alert-danger">please enter
                compCode</div>
            </div>

            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Mail ID" name="empMail" #empMail="ngModel"
                [(ngModel)]='employee.empMail' required>
              <div *ngIf="empMail.touched && empMail.errors?.required" class="alert alert-danger">please enter empMail
              </div>
            </div>

            <div class="input-container">
              <i class="fa fa-phone icon"></i>
              <input class="input-field" type="text" placeholder="Mobile" ngModel #mobile="ngModel" name="mobile"
                [(ngModel)]='employee.mobile' minlength=10 maxlength=10 required>
              <div *ngIf="mobile.touched && mobile.errors?.required" class="alert alert-danger">please enter mobile
                number
              </div>
              <div *ngIf="mobile.touched && mobile.errors?.minlength" class="alert alert-danger">Please enter atleast 10
                digits
              </div>
              <div *ngIf="mobile.touched && mobile.errors?.maxlength" class="alert alert-danger">Can't exceed 10 digits
              </div>
            </div>
            <div class="input-container">
              <i class="fa fa-star icon"></i>
              <select class="input-field" type="text" placeholder="Area of interest" name="interest1"
                #interest1="ngModel" [(ngModel)]='employee.interest1' required>
                <div *ngIf="interest1.touched && interest1.errors?.required" class="alert alert-danger">please enter
                  interest1
                </div>
                <option value="" disabled select hidden>choose your interest</option>
                <option value="AI">AI</option>
                <option value="ML">ML</option>
                <option value="DATA SCIENCE">DATA SCIENCE</option>
                <option value="JAVA">JAVA</option>
                <option value="PYTHON">PYTHON</option>
                <option value="C">C</option>
                <option value="IOT">IOT</option>
              </select>
            </div>
            <div class="input-container">
              <i class="fa fa-star icon"></i>
              <select class="input-field" type="text" placeholder="Area of interest" name="interest2"
                #interest1="ngModel" [(ngModel)]='employee.interest2' required>
                <div *ngIf="interest1.touched && interest1.errors?.required" class="alert alert-danger">please enter
                  interest1
                </div>
                <option value="" disabled select hidden>choose your interest</option>
                <option value="AI">AI</option>
                <option value="ML">ML</option>
                <option value="DATA SCIENCE">DATA SCIENCE</option>
                <option value="JAVA">JAVA</option>
                <option value="PYTHON">PYTHON</option>
                <option value="C">C</option>
                <option value="IOT">IOT</option>
              </select>
            </div>
            <div class="input-container">
              <i class="fa fa-star icon"></i>
              <select class="input-field" type="text" placeholder="Area of interest" name="interest3"
                #interest1="ngModel" [(ngModel)]='employee.interest3' required>
                <div *ngIf="interest1.touched && interest1.errors?.required" class="alert alert-danger">please enter
                  interest1
                </div>
                <option value="" disabled select hidden>choose your interest</option>
                <option value="AI">AI</option>
                <option value="ML">ML</option>
                <option value="DATA SCIENCE">DATA SCIENCE</option>
                <option value="JAVA">JAVA</option>
                <option value="PYTHON">PYTHON</option>
                <option value="C">C</option>
                <option value="IOT">IOT</option>
              </select>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="empPassword" minlength=6
                [(ngModel)]='empPassword' required>
              <div *ngIf="empPassword.touched && empPassword.errors?.required" class="alert alert-danger">please enter
                password
              </div>
              <div *ngIf="empPassword.touched && empPassword.errors?.minlength" class="alert alert-danger">please enter
                6
                characters </div>
            </div>
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Confirm Password" name="confirmPassword"
                minlength=6 [(ngModel)]='empconfirmPassword' required>
              <div *ngIf="empconfirmPassword.touched && empconfirmPassword.errors?.required" class="alert alert-danger">please
                enter
                confirm password </div>
              <div *ngIf="empconfirmPassword.touched && empconfirmPassword.errors?.minlength" class="alert alert-danger">
                please enter 6
                characters </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="submit" class="submit" style="color:white" (click)="registerEmployee(employeeForm.value)"
              data-dismiss="modal" [disabled]="!employeeForm.valid">Register</button>

          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</body>

</html>
