<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <meta charset="UTF-8">
</head>

<body id = "show_bg_2">
  <br>
  <br>
  <br>
  <div class="container"><br>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let event of myEvents">
        <div class="card h-100" >
          <a href="#"><img class="card-img-top" src="RESTAPI/image/{{event.poster}}" alt=""></a>
          <div class="card-body" style = "color:black; text-align: center;">
            <h4 class="card-title">
              Event Name : {{event.eventName}}
            </h4><br>
            <h5>{{event.eventTag}} </h5><br>
            <p class="card-text">
              Event Domain : {{event.eventDomain}} <br>

              Venue : {{event.address.street}}, {{event.address.area}}, {{event.address.city}}, {{event.address.state}}
              <br>
              Contact No: {{event.mobile}} <br>
              Registration fee: {{event.regFee}} <br>
              Timings: {{event.startDate | date:"dd-MM-yyyy"}} - {{event.endDate | date:"dd-MM-yyyy"}} <br>
            </p><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button *ngIf="calTime(event.endDate | date:'dd-MM-yyyy') === true" type="button" class="btn btn-dark" width="100px"
               (click)="showEditPopup(event)">feedback</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <button *ngIf="calTime(event.endDate | date:'dd-MM-yyyy') === true" type="button" class="btn btn-dark" width="100px"
               (click)="viewCertificate(event)">View certificate</button>
              <!--<button *ngIf="calTime(event.endDate | date:'dd-MM-yyyy') === true" class="btn btn-primary" width="100px"><a routerLink = "certificate" style="color:azure">View Certificate</a></button><br>-->

          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div clas="container">
    <div class="modal" id="feedback">
      <div class="modal-dialog">
        <div class="modal-content"
          style=" background-image:
        linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(197,198,193,0.8281513288909313) 67%, rgba(234,238,214,0.8477591720281863) 100%);">

          <div class="modal-header">
            <span class="close" data-dismiss="modal">&times;</span>


          </div>

          <div class="modal-body">
            <form class="form-group" #feedbackForm="ngForm">
              <h3 style="text-align:center;"><b>Feedback Form</b></h3><br>
              <div class="rate">
                <h4><b>Rate our Event</b></h4>
                <input type="radio" id="star5" name="rate" ngModel value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" ngModel value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" ngModel value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" ngModel value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" ngModel value="1" />
                <label for="star1" title="text">1 star</label><br>
              </div><br><br>
              <!--Enter Employee Id:<input type="number" name="empId" [(ngModel)]="editObject.empId" class="form-control" ><br/>-->

              <div> <br>
                <h4 style="float:left;"><b>Your comments and suggestions:</b></h4>
                <textarea name="comments" ngModel rows="8" cols="55">
                                        </textarea>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button class="btn btn-dark" (click)="submitFeedback(feedbackForm.value)"
              data-dismiss="modal">Submit</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
